<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Planet Earth Line Generator</h1>

    <div>
      <blockquote>{{ sentence }}</blockquote>
    </div>
    <p>

    </p>
    <!-- Tweet it! -->
    <blockquote>{{ sentence }}</blockquote>
    <form action="/tweet" method="post">
       <input type="hidden" name="sentence" value="{{ sentence }}">
       <button type="submit">Tweet this</button>
    </form>    
    <!-- Visit twitter -->
    <a href="https://twitter.com/planetearthish" target="_blank">@planetearthish</a>
{% endblock %}
