<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <h1 style=
    "color: white;
    text-align: center;
    margin: auto;
    margin-top: 20vh;"
    >Planet Earth Line Generator</h1>

    <div style=
    "background-color: white; 
    opacity: 0.8;
    color: black; 
    width: 40vw; 
    min-height: 20vh; 
    border-radius: 25px;
    padding: 3vh 4vw;
    margin: auto;
    margin-top: 10vh;
    ">
      <!-- Visit twitter -->
      <a href="https://twitter.com/planetearthish" target="_blank">@planetearthish</a>
      
      <!-- Randomly generated tweet/markov chain -->
      <blockquote>{{ sentence }}</blockquote>

      <!-- Tweet it! -->
      <form action="/tweet" method="post" style="display: inline-block; opacity: 1.0; margin-bottom: 10px;">
        <input type="hidden" name="sentence" value="{{ sentence }}">
        <button class="btn btn-primary" type="submit">Tweet this</button>
      </form>    

    </div>

{% endblock %}
